
<!doctype html>
<html>
    <head>
      <title>{{title}}</title>
      
    </head>
  <body>

  {% with messages = get_flashed_messages(with_categories=True) %}
      <div>
        {% for category,message in messages %}
          <li class="{{category}}">{{message}}</li>
        {% endfor %}
      </div>
  {% endwith %}  
  <a href="http://127.0.0.1:5000/">Main Blog Page</a> <a href="http://127.0.0.1:5000/new_post">Add a Blog Entry</a>
  <br />
  <br />

    {%  block content  %}
    {%  endblock  %}

  </body>